*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background: rgb(9,32,121);
background: linear-gradient(90deg, rgba(9,32,121,1) 17%, rgba(0,212,255,1) 100%);
    padding: 30px;
    color: #fff;
}
.todo_app{
    width: 100%;
    max-width: 540px;
    background: rgb(184, 212, 230);
    padding: 40px 30px 70px;
    border-radius: 10px;
    margin: 250px auto;
}
.todo_app h2{
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
i{
    width: 30px;
    margin-bottom: 5px;
   margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
   background:lightgrey;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    background:transparent;
    outline: none;
}
button{
   padding: 16px 50px;
    border: none;
    background:#ff5945;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border-radius: 30px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px ;
    user-select:none;
    cursor: pointer;
    color: black;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-position: center;
    background-size: cover;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
        background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
}



